@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: "Inter", "Cairo", sans-serif;
}

.container {
  width: 100%;
}


.tab-link.active {
    color: #007BFF;
    border-color: #007BFF;
    font-weight: 600;
}

.tab-nav {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }
}
